@font-face {
  font-family: 'GeorgiaFace';
  src: url('../../fonts/georgia-regular.woff2') format('woff2'),
       url('../../fonts/georgia-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialFace';
  src: url('../../assets/fonts/arial-regular.woff2') format('woff2'),
       url('../../assets/fonts/arial-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



*, 
*::after,
*::before{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: brown;
  font-weight: 400;
}
:root{
  --primary-color:#F1CDB3;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.main-header{
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  
}

.logo-title{
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: 'GeorgiaFace';
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.logo-subtitle{
  margin: 0;
  font-family: 'Arial', sans-serif;
  line-height: 15px;
  font-size: 13px;
  /* identical to box height */
  align-items: center;
  display: flex;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}


.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item{
  margin-right: 35px;
}
.menu-item:last-child{
  margin-right: 0;
}


.menu-item-link,
.main-font{
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.menu-item-link{
  display: block;
  text-decoration: none;
  /* margin: 10px 0px; */
}
.active-link{
  border-bottom: 3px solid var(--primary-color);
}

.menu-item-link:hover,
.menu-item-link:focus,
.active-link{
  color: #FAFAFA;
}

/* //// NOT ONLY ///// */
.not-only-wrapper{
  display: flex;
  justify-content: space-between;
}
.not-only-box{
  /* width: 38.5%; */
  padding-top: 163px;
  width: 460px;
}

.not-only-title{
  margin: 0;
  margin-bottom: 42px;
  width: 68%;
  font-family: 'Georgia', serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  /* or 57px */
  color: #FFFFFF;
}

.main-font{
  margin: 0;
  margin-bottom: 42px;

}

.make-a-friend{
  display: block;
  padding: 15px 45px;
  width: 207px;
  height: 52px;
  /* left: calc(50% - 207px/2 - 126.5px); */
  text-decoration: none;
  background: var(--primary-color);
  border-radius: 100px;

  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.059em;
  color: #292929;

}

.header-bg{
  /* height: 908px; */
  background: url(noise_lines_transparent@2X.png), 
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
  /* background: no-repeat cover; */

}