@font-face {
  font-family: 'GeorgiaFace';
  src: url('../../fonts/georgia-regular.woff2') format('woff2'),
       url('../../fonts/georgia-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialFace';
  src: url('../../assets/fonts/arial-regular.woff2') format('woff2'),
       url('../../assets/fonts/arial-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



*, 
*::after,
*::before{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-weight: 400;
  font-style: normal;
}
:root{
  --primary-color:#F1CDB3;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.main-header{
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  
}

.logo-title{
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: 'GeorgiaFace';
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.logo-subtitle{
  margin: 0;
  font-family: 'Arial', sans-serif;
  line-height: 15px;
  font-size: 13px;
  /* identical to box height */
  align-items: center;
  display: flex;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}


.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item{
  margin-right: 35px;
}
.menu-item:last-child{
  margin-right: 0;
}


.menu-item-link,
.main-font{
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.menu-item-link{
  display: block;
  text-decoration: none;
}
.active-link{
  border-bottom: 3px solid var(--primary-color);
}

.menu-item-link:hover,
.menu-item-link:focus,
.active-link{
  color: #FAFAFA;
}

/* //// NOT ONLY ///// */
.header-bg{
  height: 908px;
  /* background: url(../../assets/images/start-screen-background.jpg); */
  background: url(../../assets/images/noise_transparent@2x.png), 
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
  background: no-repeat cover center;
}

.not-only-wrapper{
  display: flex;
  justify-content: space-between;
}
.not-only-box{
  /* width: 38.5%; */
  padding-top: 163px;
  width: 460px;
}

.not-only-title{
  margin: 0;
  margin-bottom: 42px;
  width: 68%;
  font-family: 'Georgia', serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  /* or 57px */
  color: #FFFFFF;
}

.main-font{
  margin: 0;
  margin-bottom: 42px;

}

.btn{
  display: block;
  padding: 15px 45px;
  height: 52px;
  text-decoration: none;
  border-radius: 100px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.059em;
  color: #292929;
}

.make-a-friend-btn{
  width: 207px;
  background: var(--primary-color);
}
.make-a-friend-btn:hover{
  background-color: #FDDCC4;
}




/* ////  ABOUT-SHELTER  ///// */
.about-shelter{
  padding: 80px 215px 100px;
}
.about-shelter-wrapper{
  display: flex;
  justify-content: space-between;
}
.description-box{
  width: 430px;
}
.section-heading{
  margin: 0;
  font-family: 'GeorgiaFace', serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about-shelter_heading{
  padding-top: 14px;
  padding-bottom: 25px;
}
.about-shelter_text{
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* //// OUR-FRIENDS ///// */ 
.our-friends{
  padding-top: 80px;
  padding-bottom: 100px;
  background: #F6F6F6;
}
.our-friendds_heading,
.help-heading{
  text-align: center;
  margin-bottom: 60px;
}

.our-friends_wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.our-friends_list{
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  width: 1026px;
  margin-bottom: 60px;
  /* padding: 0 145px; */
  justify-content: space-between;
  list-style: none;
}

.arrow-btn{
  margin-top: 192px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;  
}
.arrow-btn:hover{
  background-color: #FDDCC4;
  border: 2px solid transparent;
  cursor: pointer;
}

.arrow-btn_left{
  margin-right: 53px;
  background: url(../../assets/icons/Arrow.png) no-repeat center;
}

.arrow-right{
  margin-left: 53px;
  background: url(../../assets/icons/Arrow.png) no-repeat center;
  transform: rotateY(180deg);

}

.our-friends_list-item{
  /* margin: 0 auto; */
  padding: 0;
  padding-bottom: 30px;
  background: #FAFAFA;
  border-radius: 9px;
}
.our-friends_list-item:hover{
  background: #FFFFFF;
  cursor: pointer;
}
.pet-name{
  margin: 30px auto;
  text-align: center;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}
.learn-more-btn,
.button{
  margin: 0 auto;
  width: 187px;
  padding: 13px 43px;
  line-height: 22px;
  text-decoration: none;
  border: 2px solid #F1CDB3;
  letter-spacing: 0.05em;
}
.our-friends_list-item:hover .learn-more-btn{
  background: #FDDCC4;
  border-radius: 100px;
  /* border: 2px solid #FDDCC4; */
  border:2px solid transparent;
}
.get-to-know_btn{
  margin: 0 auto;
  padding-left: auto auto;
  width: 261px;
  height: 52px;
  background-color: var(--primary-color);
  letter-spacing: 0.046em;
  border: 2px solid transparent;
}
.get-to-know_btn:hover{
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

/* ////  SECTION-HELP  ///// */
.help{
  padding: 80px 127px 100px;
}

.help-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.help-list-item:not(:nth-child(5)){
  margin-right: 120px;
}
.help-list-item:last-child{
  margin-right: 0;
}
.help-list-item:not(:nth-child(n+5)){
  margin-bottom: 55px;
}

.help-list-item::before{
  margin-bottom: 30px;
  content:'';
  display:block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
  background: no-repeat contain center;
  /* background-repeat: no-repeat;
  background-position: center;
  background: teal;
  background-size: contain; */
}
.food-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-pet-food.svg);
}
.transport-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-transportation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.toys-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-toys.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bowls-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.shampoo-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-shampoos.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.vitamins-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-vitamins.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.medicines-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-medicines.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.collars-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/collars-or-leashes.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.sleeping-icon::before{
  margin-bottom: 30px;
  background-image: url(../../assets/icons/icon-sleeping-area.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


/* .help-list-item::before{
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 60px;
  width: 60px;
  background-color: teal; */
  /* background-image: url("../images/icons/bag.png"); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */



.help-list-item p{
  padding: 0;
  margin: 0;
  display: block;
 
  font-family: 'Georgia', serif;
  font-style: normal; 
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  
  /* align-items: center; */
  /* text-align: center; */
  letter-spacing: 0.05em;
  color: #545454;
}